<%- include('../partials/header') %>

<h3>List of Books</h3>

<div id="list">
<table id="bookList"> 
    <thead>
        <tr>
            <th>Author Name</th>
            <th>Book Title</th>
        </tr>
    </thead>

    <tbody>
    <% books.forEach(b => { %>
       <tr>
        <td><%= b.authorName %></td>
        <td><%= b.bookTitle %></td>
        <td><a href="/books/<%= b._id %>">Details</a></td>
       </tr> 
   <% }); %>
    </tbody>
</table>
</div>


<%- include('../partials/footer') %>