<%- include('../partials/header') %>

<h3>Book Details</h3>

<section id="show-list">
    <div>Author: <%= book.authorName  %> </div>
    
    <div>Title: <%= book.bookTitle %></div>
    
    <div>Published: <%= book.releaseYear %></div>
    
    <div>TV/Movie Adaptation: <%= book.adaptation ? 'Yes' : 'None' %></div>
    
    <div>Genre: <%= book.genre %></div>
    
</section>


<!--review section-->
<section id="review">

    <h4>Reviews</h4>
    <% if (user) { %>
        
        <form id="review-form" method="POST" action="/books/<%= book._id %>/reviews">
            <label>Review
            <textarea name="textForm"></textarea>
            </label><br>
            <label>Rated
            <select name="rated">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </label><br>
            <button type="submit">Add Review</button>
        </form>
    <% } %>   


    <% if (book.reviews.length) { %>
        <table>
            <thead>
                <tr>
                  <th>User</th>
                  <th>Review</th>
                  <th>Rating</th>
                  <th>Date</th>
                </tr>
              </thead>
         <tbody>
            <% let total = 0 %>
            <% book.reviews.forEach(function(br) { %>
                <% total += br.rated %>
                <tr>
                    <td><img alt="avatar" src="<%= br.userAvatar %>" referrerpolicy="no-referrer" ><%= br.userName %></td>
                <td><%= br.textForm %></td>
                <td><%= br.rated %></td>
                <td><%= br.createdAt.toLocaleDateString() %></td>
                <td>
                    <% if (user && user._id.equals(br.user)) { %>
                        <form action="/reviews/<%= br._id %>?_method=DELETE" method="POST">
                        <button type="submit">delete</button>
                        </form>
                    <% } %>
                </td>
                
                </tr>
        <% }) %>
        <% } %>
        
</tbody>
</table>
</section>


<%- include('../partials/footer') %>